p {
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

body {
	animation: backgroundChanger 5000ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;

}

.liam {
	border: outset #a32eff;
	font-family: 'Courier New', Courier, monospace;
	border-width: 5px;
	background-image: linear-gradient(#A80FFA,#2D2564 / 75%);
	text-align: center;
}

.lyss {
	border: inset forestgreen;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-width: 5px;
	float: right;
	background-image: linear-gradient(#BDF0D6, #B4F8C8 / 75%);
	text-align: center;
}

.container {
	border-image: linear-gradient(to right top,  #b39ddb, #abebc6);
	border-width: 7.5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 40px 70px 40px 150px;
}

h1 {
	font-family: cursive;
	text-align: center;
}

h2{
	text-align: center;
}

.cont {
	background-color: transparent;
}
br {
	font-size: 9px;
}

@keyframes backgroundChanger {
	from {background-color: #000b6f;}
	to {background-color: #000851;}
}

/* @keyframes liamSpinner{
	0%{
		transform: rotate(0turn);
	}
	25%{
		transform: rotate(.25turn);
	}
	50%{
		transform: rotate(.5turn);
	}
	75%{
		transform: rotate(.75turn);
	}
	100%{
		transform: rotate(1turn);
	}
} */
